In [3]:
import panel as pn
import seaborn as sns

In [4]:
import hvplot.pandas

In [5]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
df.hvplot.scatter(x = 'sepal_length', y = 'sepal_width', by = 'species')

:NdOverlay   [species]
   :Scatter   [sepal_length]   (sepal_width)

In [4]:
x = pn.widgets.Select(name = 'x', options=['sepal_width', 'petal_width'])
y = pn.widgets.Select(name = 'y', options=['sepal_length', 'petal_width'])
kind = pn.widgets.Select(name = 'kind', options=['scatter','bivariate'])
plot = df.hvplot(x=x,y=y,kind=kind,width = 600)

In [7]:
pn.Row(pn.WidgetBox(x,y,kind),plot)

NameError: name 'x' is not defined